.Project {
    background-color: #7A9E7E;
    margin-bottom: 0; /* Remove bottom margin */
    padding-bottom: 2em; /* Add padding instead for internal spacing */
}

.Experience {
    background-color: #B3EFB2;
    margin-top: 0; /* Remove top margin */
    padding-top: 2em; /* Add padding instead for internal spacing */
}
.Experience h1 {
    color: #31493C;
}

.Introduction {
    font-size: larger;
    padding-left: 2em;
    padding-right: 2em;
}

.card-container {
    display: flex;
    overflow-x: auto;
  }

.card-container::-webkit-scrollbar {
    height: 8px;
  }
  
.card-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

h1 {
    padding-top: 0.5em;
}